<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="miao.you.meng.config.mapper.DataSourceMapper">
    <resultMap id="BaseResult" type="miao.you.meng.config.dto.DataSourceDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="connection_pool" property="connectionPool" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="ts" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BaseColumn">
        id,app_id,type,connection_pool,create_time,ts
    </sql>

    <select id="listDataSource" resultMap="BaseResult">
        SELECT
        ds.id,
        ds.app_id,
        app.`name` as app_name,
        ds.connection_pool,
        ds.ts
        FROM
            data_source ds,
            app
        WHERE
            ds.app_id = app.id
        AND ds.type = 'master'
        order by app_name
    </select>

    <select id="findDSByName" resultMap="BaseResult">
        select
        <include refid="BaseColumn"/>
        from data_source
        where app_name like concat(concat('%', #{appName}), '%')
    </select>
    <select id="findDataSourceById" resultMap="BaseResult">
        select
        <include refid="BaseColumn"/>
        from data_source
        where id=#{id}
    </select>

    <select id="searchJson" resultType="java.lang.String">
        select ds_json
        from data_source
        where id=#{id}
    </select>

    <insert id="addParam">
        insert into ds
        <trim prefix="(" suffix=")">
            app_name,ds_json,create_time
        </trim>
        <trim prefix="values (" suffix=")">
            #{ds.appName},#{ds.dsJson},#{ds.createTime}
        </trim>
    </insert>

    <update id="alertJson">
        update data_source
        set ds_json=#{dsJson}
        where id=#{id}
    </update>

</mapper>